html{
margin:0;
padding: 0;
font-family: Arial;
font-size: 14px;
font-style: normal;
background-color: #E6E6FA;
}
.reverse{
	background-color: #000 !important;
	color: #E6E6FA !important;
}
body{
overflow-x:hidden;
}
ul{
list-style: none;
padding: 0;
margin:0;
}
a{
text-decoration: none;
}
.reverse a{
	color: #E6E6FA;
}
.reverse a:hover{
	border-bottom: 1px solid;
}
.space{
	margin-left: 25px;
}
p{
font-family: serif;
margin: 0;
}
/*index image*/
.featured-image{
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
		margin: 10px 10vw;
/*	transform: translate(0, -50%);
*/}

.featured-image img{
	width: 80vw;
}
.logo{
	text-align:left !important;
}
/* nav styles */
.flex{
display: flex;
justify-content: space-between;
}
.sticky-header{
width:100vw;
position: fixed;
top:0px;
z-index:100;
}

.reverse .fullwidth{
	background-color: #000 !important;
	color: #E6E6FA !important;

}

.logo{
	margin: 10px;
}


.logo a{
color: #000;
}


.underline-hover:hover{
	text-decoration:underline;
	transition: text-decoration 0.1s;
}

.reverse header a{
	color: #E6E6FA !important;
}

.fullwidth{
	background-color: #E6E6FA;
	width: 100vw;
	border-bottom: 1px solid;
}
nav{
text-align: right;
width:100%;

}
h1{
font-size: 1em;
font-style:normal;
font-weight: normal;
margin: 0 1vw;
width: 98vw;
display: flex;
justify-content: space-between;
}

.contact-type{
	font-size: 1.2em;
}

.border{
	width: 100vw;
	border-bottom: 1px solid;
	margin-top: 10vh;
}

.nav{
/*	font-family: Fixed, monospace;
	font-size: 16px;*/
}
.nav a{
	margin-left: 25px;
	height: 100%;
}
.nav a:hover{
	border-bottom: 1px solid;
}

.video a,
.song a{
	color: #000;
}
.video a:hover,
.song a:hover{
		border-bottom: 1px solid;

}

.current{
/*	border-bottom: 1px solid;
	transition: text-decoration 0.1s;*/
}

.content{
	margin: 10px 1vw;
}

.movement-content{
	margin: 0 1vw 10px 1vw;
}

.grid{
	display: flex;
	flex-wrap: wrap;
}

.grid::after {
  content: "";
  flex: auto;
}

.video{
	width: 48.5vw;
	margin: 10px auto;
	align-self: left;
}

.video iframe{
	width: 100%;
}

.song{
	width: 100%;
	margin-bottom:20px;
}

.container{
	display:flex;
	flex-direction: column;
}

.title,
.caption,
.date{
	font-family: "Times New Roman";	
	margin-top:10px;
}

.title{
		font-size: 1.2em;
}

.date{
/*	text-align: right;
*/	font-size: 1em;
text-transform:uppercase;
}


.top-padding-index{
margin-top: 7.5vh;
}


.sticky-footer{
	width: 100%;
	height: 10vh;
margin-left: auto;
position: fixed;
z-index:100;
text-align: right;
font-size: 1em;
align-items:flex-end;
bottom: 0;
right: 0;}

.blackout{
	    background-color: #000;
    color: #E6E6FA;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 10%;
    padding-left: 10px;
    padding-top: 10px;
    height: 100%;
}

.blackout:hover{
	text-decoration:underline;
}



@media only screen and (max-width: 1300px) {


}


@media only screen and (max-width: 700px) {
body{
font-size: 18px;
}
.sticky-header,
.sticky-footer{
	width: 96vw;
}
/*index page */
.painting, .poem, .horizontal{
width: 80vw;
}
.painting{
position: relative;
}
.top-padding-index{
margin-top: 7.5vh;
}

.top-padding-poem{
	margin-top: 10vh;
}

/*detail page */
.painting-container{
margin: auto;
margin-left: auto;
margin-right:auto;
}
.painting-detail-container{
}
.painting-detail-title{
	font-size:3em;
}
.poem-content{
position: static;
margin-top: 0%;
max-width: 96vw;
}

.horizontal-detail{
	width: 96vw;
}

/* nav styles */
.desktop{
display:none;
}
.mobile{
display: flex;
width: 96vw;
}
.top-padding{
	margin-top: 0;
}
}