<div class="fullwidth">
	<h1 class="logo">
	<a href="{{site.baseurl}}">Melodie Stancato</a>
<div class="nav">
	<a href="{{site.baseurl}}/movement/" class="{% if page.url == '/movement/'%}current{%endif%}">Movement</a>
			<a href="{{site.baseurl}}/music/" class="{% if page.url == '/music/'%}current{%endif%}">Music</a>
				<a href="{{site.baseurl}}/sketches/" class="{% if page.url == '/sketches/'%}current{%endif%}">Sketches</a> 
	<a href="{{site.baseurl}}/tarot/" class="{% if page.url == '/tarot/'%}current{%endif%}">Tarot</a>
</div>
</h1>
</div>