<div class="fullwidth">
	<h1 class="logo">
	<a href="{{site.url}}">Melodie Stancato</a>
<div class="nav">
	<a href="{{site.url}}/movement/" class="{% if page.url == '/movement/'%}current{%endif%}">Movement</a>
			<a href="{{site.url}}/music/" class="{% if page.url == '/music/'%}current{%endif%}">Music</a>
				<a href="{{site.url}}/sketches/" class="{% if page.url == '/sketches/'%}current{%endif%}">Sketches</a> 
	<a href="{{site.url}}/tarot/" class="{% if page.url == '/tarot/'%}current{%endif%}">Tarot</a>
</div>
</h1>
</div>